<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945732064837-ipiadi91n72g56u02psh8vn2dpsbkl4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945732064837-ipiadi91n72g56u02psh8vn2dpsbkl4a</string>
	<key>API_KEY</key>
	<string>AIzaSyAaZ2RJrVHXH8TPfD2r9a-WNqNM-cFscig</string>
	<key>GCM_SENDER_ID</key>
	<string>945732064837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.efe.InstaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-46856</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-46856.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945732064837:ios:709cd0d5c2a730dc9ab52c</string>
</dict>
</plist>